<div id="changeReason" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Password Changed</h4>
				<h6>If you think someone else may have known your old password, it's a good idea to log out of any other phones and computers and check for recent changes to your account.</h6>
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<input class="pull-left" tabindex="0" name="reason" value="kill_sessions" id="5x_1" type="radio">
						<label for="5x_1" class="pull-left">Log out of other devices</label>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<input class="pull-left" tabindex="0" name="reason" value="keep_sessions" id="5x_2" type="radio">
						<label for="5x_2" class="pull-left">Stay logged in</label>
					</div>
				</div>	

				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary c-continue">Continue</button>
			  </div>
			</div>

		  </div>
		</div>