<div id="timeoutModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Are you still there?</h3>
				
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<h5>You&#146;ve been idle for a while. For your security, your shopping session will expire in 2 minutes. Continue your activity, or click <b>Cancel</b> to end your session.</h5>
					</div>
				</div>
				 

				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default c-cancel" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary c-continue">Continue</button>
			  </div>
			</div>

		  </div>
		</div>